body {
    background-image: linear-gradient(to left, #E8F9F6 , #FFFAEB, #D7E3FB);
    font-family: Arial, Helvetica, sans-serif;
    color: #090f22;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.main {
    background-color: rgba(52,84,158, 0.5);
    opacity: 0.8;
    padding: 30px;
    border-radius: 10%;

}

.hospitalInside {
    display: flex;
}

.map {
    padding: 10px;  
}

.rounded {
    border-radius: 50%;
}