body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff3333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #ff3333;
}

img {
    max-width: 100%;
    height: auto;
    border: 5px solid #ff3333;
}

footer {
    background-color: #ff3333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
