<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>Confirmation</title>
</head>
<body class="confirmation">
    <h1>Confirmation Page</h1>
    <p>Thank you for submitting the form. Your information has been received.</p>
    <!-- You can customize this page as needed -->
    <button class="home-button"><a href="{{ url_for('index') }}">Home</a></button>
</body>
</html>