<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ hospital['name'] }} Hospital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script
    src="https://cdn.socket.io/4.7.4/socket.io.min.js"
    integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
    crossorigin="anonymous"
  ></script>
</head>

<body class="hospital">
    <div class="main">

        <p class="pageConnecter"><a href="{{ url_for('index') }}">Go back</a></p>
        <h2 class="header">{{ hospital['name'] }}</h2>
        <container class="hospitalInside">
            <p>Phone: {{ hospital['phone-number'] }} </p>
            <p>Address: {{ hospital['location'] }} </p>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBZLF6d9OhEH6aW6J0AlySGb3JBgytUeIU&q={{ hospital['lat'] }},{{ hospital['lng'] }}" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <container class="rightSide">
                <h3 class="subheader">Estimated Wait Time:</h3>
                <div class="waitTime">
                    <h3 class="bigTime" id="wait-time"></h3>
                    <p id="last-updated"></p>
                </div>

                <div class="action">
                    <button><a href="{{ url_for('submit_form') }}">Send your form</a></button>
                </div>
            </container>
        </container>
    </div>

    <script>
        // Add a script to update wait time dynamically using Socket.IO
        var socket = io();

        const setWaitTime = (msg) => {
            const updatedWaitTime = msg.data['{{ hospital["id"] }}'].wait_time;
            const lastUpdated = msg.data['{{ hospital["id"] }}'].date;
            // const lastUpdated = msg.data.date;
            console.log(updatedWaitTime)

            // Update the wait time and last updated time on the page
            document.getElementById('wait-time').innerText = updatedWaitTime + ' minutes';
            document.getElementById('last-updated').innerText = 'Last updated: ' + lastUpdated;
        }

        socket.on('connected', (msg) => {
            console.log('connected to server');
            setWaitTime(msg);

        });

        socket.on('wait_time_update', (msg) => {
            setWaitTime(msg);
        });
    </script>
</body>

</html>