<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tentName Hospital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="hospital">
    <div class="main">
        <h2 class="header">HOSPITAL NAME</h2>
        <container class="hospitalInside">
            <div class="map">
                <iframe class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2603.650204947356!2d-123.25000901114502!3d49.264075600000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548672c8eb865e01%3A0xfa8a6154f316f7cc!2sUBC%20Hospital%20Emergency%20Department!5e0!3m2!1sen!2sca!4v1705799826216!5m2!1sen!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <container class="rightSide">
                <h3 class="subheader">Estimated Wait Time:</h3>
                <div class="waitTime">
                    <h3 class="bigTime">X:XX</h3>
                    <p>X hour XX min</p>
                    <p>Last updated: X minutes ago</p>
                </div>

                <div class="action">
                    <button>Send your forms</button>
                </div>

            </container>
        </container>
    </div>
    
</body>
</html>