<!DOCTYPE html>
<html lang="en">
  <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.socket.io/4.7.4/socket.io.min.js"
    integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(() => {
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io();

      $("#locationBtn").on("click", function () {
        console.log("HELOOOPQOIPOQIJ");
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function (position) {
              const userLocation = {
                latitude: position.coords.latitude,
                longitude: position.coords.longitude,
              };
              findNearestHospitals(
                userLocation.latitude,
                userLocation.longitude
              );
            },
            function (error) {
              console.error("Error getting location:", error.message);
            }
          );
        } else {
          console.error("Geolocation is not supported by this browser");
        }

      function calculateDistance(userLocation, hospitalLocation) {
        // this is the radius of the aerth in km lol

        // alot of math was used!!!!!!!
        const earthRadius = 6371;
        const lat1 = userLocation.latitude;
        const lon1 = userLocation.longitude;
        const lat2 = hospitalLocation.latitude;
        const lon2 = hospitalLocation.longitude;

        const dLat = toRadians(lat2 - lat1);
        const dLon = toRadians(lon2 - lon1);

        const a =
          Math.sin(dLat / 2) * Math.sin(dLat / 2) +
          Math.cos(toRadians(lat1)) *
            Math.cos(toRadians(lat2)) *
            Math.sin(dLon / 2) *
            Math.sin(dLon / 2);

        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        const distance = earthRadius * c;

        return distance;
      }

      function toRadians(degrees) {
        return degrees * (Math.PI / 180);
      }

      function findNearestHospitals(latitude, longitude) {
        // const hospitals = [
        //   { name: "VGH", latitude: 49.26236, longitude: -123.12422 },
        //   { name: "Richmond", latitude: 49.16882, longitude: -123.1468 },
        //   { name: "St. Paul", latitude: 49.28072, longitude: -123.12855 },
        //   { name: "Lions", latitude: 49.32087, longitude: -123.06771 },
        //   { name: "Mt. St. Joseph", latitude: 49.25815, longitude: -123.096 },
        //   { name: "UBC", latitude: 49.26412, longitude: -123.24543 },
        //   { name: "BC Child", latitude: 49.24468, longitude: -123.12534 },
        //   { name: "Sechelt", latitude: 49.47564, longitude: -123.74928 },
        //   { name: "Abbotsford", latitude: 49.03686, longitude: -122.31188 },
        //   { name: "Burnaby", latitude: 49.24946, longitude: -123.01563 },
        //   { name: "Chilliwack", latitude: 49.16654, longitude: -121.9628 },
        //   { name: "Delta", latitude: 49.08573, longitude: -123.06164 },
        //   { name: "Eagle", latitude: 49.28549, longitude: -122.82341 },
        //   { name: "Langley", latitude: 49.09285, longitude: -122.61252 },
        //   {
        //     name: "Peace Arch Hospital",
        //     latitude: 48.998999,
        //     longitude: -122.740968,
        //   },
        //   {
        //     name: "Ridge Meadows Hospital",
        //     latitude: 49.21487,
        //     longitude: -122.630951,
        //   },
        //   {
        //     name: "Squamish General Hospital",
        //     latitude: 49.69755,
        //     longitude: -123.14132,
        //   },
        //   {
        //     name: "Surrey Memorial Hospital",
        //     latitude: 49.17645,
        //     longitude: -122.84278,
        //   },
        //   {
        //     name: "Royal Columbian Hospital",
        //     latitude: 49.22657,
        //     longitude: -122.89157,
        //   },
        //   {
        //     name: "qathet General Hospital",
        //     latitude: 49.85083,
        //     longitude: -124.51847,
        //   },
        //   {
        //     name: "Pemberton Health Centre",
        //     latitude: 50.32115,
        //     longitude: -122.80478,
        //   },
        //   {
        //     name: "Surrey Whalley UPCC",
        //     latitude: 49.17798,
        //     longitude: -122.84232,
        //   },
        //   {
        //     name: "Ridge Meadows UPCC",
        //     latitude: 49.21798,
        //     longitude: -122.59781,
        //   },
        //   { name: "Port Moody UPCC", latitude: 49.2788, longitude: -122.8415 },
        //   { name: "Metrotown UPCC", latitude: 49.23007, longitude: -123.00277 },
        //   { name: "Edmonds UPCC", latitude: 49.21873, longitude: -122.95125 },
        // ];

        const hospitals = JSON.parse('{{ hospitals | tojson }}');
        console.log(hospitals);
        const sortedHospitals = hospitals
          .map((hospital) => ({
            ...hospital,
            distance: calculateDistance({ latitude, longitude }, hospital),
          }))
          .sort((a, b) => a.distance - b.distance);

        const nearestHospitalsContainer = $("#nearestHospitals");
        nearestHospitalsContainer.html("<h2>Nearest Hospitals:</h2>");

        sortedHospitals.forEach((hospital) => {
          console.log(hospital);
          const divId = `div-${hospital.id}`;
          console.log(divId)
          const hospitalDiv = $("#" + divId)
          
          $("#" + divId).append(
            `Distance: ${hospital.distance.toFixed(2)} km</p>`
          );
        });
      }
    }); 

      socket.on("connected", (msg) => {
        console.log("connected to server.");

        const hospitalData = msg.data;
        Object.entries(hospitalData).forEach(([id, props]) => {
          const name = props.name;
          const waitTime = props.wait_time;
          const date = props.date;

          const divId = `div-${id}`;
          const waitTimeTextId = `wait-time-p-${id}`;
          const dateTextId = `date-${id}`;

          const waitTimeText = "Wait time: " + waitTime + " minutes";
          const dateText = "Last Updated: " + date;

          // Create the main container div with the class 'bubble'
          var hospitalDiv = $("<div>").addClass("bubble").attr("id", divId);

          // Create the tooltip div with the class 'tooltip' and its content
          var hospitalTextDiv = $("<div>").addClass("tooltip");
          var hospitalText = $(`<a href="hospital/${id}"><strong>${name}</strong></a>`);
          hospitalTextDiv.append(hospitalText);

          // Create the span with the class 'tooltiptext' and its content
          var tooltipTextSpan = $("<span>")
            .addClass("tooltiptext")
            .text("Click for directions and form");

          // Append the span to the tooltip div
          hospitalTextDiv.append(tooltipTextSpan);

          // Create the waitTime div with the class 'waitTime' and its content
          var waitTimeDiv = $("<div>").addClass("waitTime").attr("id", divId);
          // Creating <p> elements
          var waitTimeParagraph = $("<p>")
            .text(waitTimeText)
            .attr("id", waitTimeTextId);
          var dateParagraph = $("<p>").text(dateText).attr("id", dateTextId);

          // Appending the <p> element to the waitTimeDiv
          waitTimeDiv.append(waitTimeParagraph, dateParagraph);

          // Append the tooltip and waitTime divs to the main container div
          hospitalDiv.append(hospitalTextDiv, waitTimeDiv);

          // Append the main container div to the body or any other desired element
          $("#main").append(hospitalDiv);
        });
      })
        socket.on("wait_time_update", (msg) => {
          const hospitalData = msg.data;
          Object.entries(hospitalData).forEach(([id, props]) => {
            const waitTimeTextId = `wait-time-p-${id}`;
            const dateTextId = `date-${id}`;

            const waitTimeText = "Wait time: " + props.wait_time + " minutes";
            const dateText = "Last Updated: " + props.date;

            //  update

            $("#" + waitTimeTextId).text(waitTimeText);
            $("#" + dateTextId).text(dateText);
          });
        });
     
    });
  </script>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=0.72*device-width, initial-scale=1.0"
    />
    <title>ERBC</title>
    <!-- stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon/favicon.ico') }}" />
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/5db186dfe3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- header / logo-->
    <section id="logo" class="mx-auto mx-5">
      <div class="fixed-top">
        <a class="logo" href="index.html">
          <img
            class="logo"
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="logo"
        /></a>
      </div>
    </section>
    <!-- search and location -->

    <section id="search-location" class="mx-auto mx-5">
      <div class="search-bar">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="location-bar">
        <p>Use your location</p>
        <button type="button" id="locationBtn">
          <i class="fa fa-location"></i>
        </button>
      </div>
    </section>

    <section id="main" class="mx-auto mx-5">
      <!-- <div class="bubble">
        <div class="tooltip">
          <span class="text">Hospital 1</span>
          <span class="tooltiptext">Click for directions and form</span>
        </div>
        <div class="waitTime">
          <p>Wait Time: 30 minutes</p>
        </div>
      </div>
    -->
      <div id="nearestHospitals">
        
      </div>
    </section>

    <!-- JavaScript for location retrieval and hospital calculation -->

    <!-- <script
      defer
      src="{{ url_for('static', filename='script/script.js') }}"
    ></script> -->

    <!-- main -->
  </body>
</html>
