<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=0.72*device-width, initial-scale=1.0"
    />
    <title>ERBC</title>
    <!-- stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="icon/favicon.ico" />
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/5db186dfe3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google Maps JavaScript API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&libraries=places"></script>
  </head>

  <body>
    <!-- header / logo-->
    <section id="logo" class="mx-auto mx-5">
      <div class="fixed-top">
        <a class="logo" href="index.html">
          <img
            class="logo"
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="logo"
        /></a>
      </div>
    </section>
    <!-- search and location -->

    <section id="search-location" class="mx-auto mx-5">
      <div class="search-bar">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="location-bar">
        <p>Use your location</p>
        <button type="button" id="locationBtn">
          <i class="fa fa-location"></i>
        </button>
      </div>
    </section>

    <section id="main" class="mx-auto mx-5">
      <div class="bubble">
        <div class="tooltip">
          <span class="text">Hospital 1</span>
          <span class="tooltiptext">Click for directions and form</span>
        </div>
        <div class="waitTime">
          <p>Wait Time: 30 minutes</p>
        </div>
      </div>
    </section>

    <!-- JavaScript for location retrieval and hospital calculation -->

    <script
      defer
      src="{{ url_for('static', filename='script/script.js') }}"
    ></script>

    <!-- main -->
  </body>
</html>
