<!DOCTYPE html>
<html lang="en">
  <script
  src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
  $(document).ready(() => {
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io();

      socket.on('connected', (msg) => {
          console.log('connected to server.');

          const hospitalData = msg.data;
          Object.entries(hospitalData).forEach(([id, props]) => {
            const name = props.name;
            const waitTime = props.wait_time;
            const date = props.date;

            const divId = `div-${id}`;
            const waitTimeTextId = `wait-time-p-${id}`;
            const dateTextId = `date-${id}`;
            
            const waitTimeText = 'Wait time: ' + waitTime +' minutes';
            const dateText = 'Last Updated: ' + date;
  
            // Create the main container div with the class 'bubble'
            var hospitalDiv = $('<div>').addClass('bubble').attr('id', divId);

            // Create the tooltip div with the class 'tooltip' and its content
            var tooltipDiv = $('<div>').addClass('tooltip').html(`<a href="/hospital/${id}">${name}</a>`);

            // Create the span with the class 'tooltiptext' and its content
            var tooltipTextSpan = $('<span>').addClass('tooltiptext').text('Click for directions and form');

            // Append the span to the tooltip div
            tooltipDiv.append(tooltipTextSpan);

            // Create the waitTime div with the class 'waitTime' and its content
            var waitTimeDiv = $('<div>').addClass('waitTime').attr('id', divId);
            // Creating <p> elements
            var waitTimeParagraph = $('<p>').text(waitTimeText).attr('id', waitTimeTextId);
            var dateParagraph = $('<p>').text(dateText).attr('id', dateTextId);

            // Appending the <p> element to the waitTimeDiv
            waitTimeDiv.append(waitTimeParagraph, dateParagraph);

            // Append the tooltip and waitTime divs to the main container div
            hospitalDiv.append(tooltipDiv, waitTimeDiv);

            // Append the main container div to the body or any other desired element
            $('#main').append(hospitalDiv); 
        
      });

      

      socket.on('wait_time_update', (msg) => {
          const hospitalData = msg.data;
          Object.entries(hospitalData).forEach(([id, props]) => {
            const waitTimeTextId = `wait-time-p-${id}`;
            const dateTextId = `date-${id}`;
            
            const waitTimeText = 'Wait time: ' + props.wait_time + ' minutes';
            const dateText = 'Last Updated: ' + props.date;

            //  update
           
            $('#' + waitTimeTextId).text(waitTimeText);
            $('#' + dateTextId).text(dateText);
            
        });    
      })
      
    });
  })
  </script>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=0.72*device-width, initial-scale=1.0"
    />
    <title>ERBC</title>
    <!-- stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="icon/favicon.ico" />
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/5db186dfe3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- header / logo-->
    <section id="logo" class="mx-auto mx-5">
      <div class="fixed-top">
        <a class="logo" href="index.html">
          <img
            class="logo"
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="logo"
        /></a>
      </div>
    </section>
    <!-- search and location -->

    <section id="search-location" class="mx-auto mx-5">
      <div class="search-bar">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="location-bar">
        <p>Use your location</p>
        <button type="button" id="locationBtn">
          <i class="fa fa-location"></i>
        </button>
      </div>
    </section>

    <section id="main" class="mx-auto mx-5">
      <!-- <div class="bubble">
        <div class="tooltip">
          <span class="text">Hospital 1</span>
          <span class="tooltiptext">Click for directions and form</span>
        </div>
        <div class="waitTime">
          <p>Wait Time: 30 minutes</p>
        </div>
      </div>
      <div id="nearestHospitals"></div>
      <!-- Container for displaying nearest hospitals -->
    </section>

    <!-- JavaScript for location retrieval and hospital calculation -->

    <script
      defer
      src="{{ url_for('static', filename='script/script.js') }}"
    ></script>

    <!-- main -->
  </body>
</html>
